  <div class="account">
    <stu-language-picker></stu-language-picker>
    <ng-container *ngIf="userinfo$ | async as userinfo; else guest">
      <span class="nav-item">{{ userinfo.user_name }}!</span>
      <div class="nav-item" (click)="logout()">Выйти</div>
    </ng-container>

    <ng-template #guest>
      <div class="nav-item" (click)="showRegisterPopup()">Регистрация</div>
      <div class="nav-item" (click)="showLoginPopup()">Логин</div>
    </ng-template>
  </div>

  <stu-login *ngIf="showLogin" (close)="showLogin = false"></stu-login>
  <stu-register *ngIf="showRegister" (close)="showRegister = false"></stu-register>
  

