<p>lesson2 works!</p>

<p style="white-space: pre-line;">Хотите научиться говорить так, чтобы вам внимали с открытым ртом и восхищенным взглядом? А может, вы хотите с успехом выступить в аудитории или даже блестяще пройти конкурс на диктора? Может быть, вы хотели иметь такую специальность, в которой очень важна постановка голоса и красивое звучание, но в силу неразвитости и бедной окраски тембра своего голоса даже и не пытаетесь осваивать желанные просторы?
Не огорчайтесь! С помощью упражнений, предложенных в статье, вы можете поработать над своим речевым аппаратом и добиться объемного и полного звучания собственного голоса, красивого по тембру, с большим диапазоном. И что очень важно – улучшив дикцию речи, вы почувствуете уверенность в себе и повысите свою самооценку. Ваши шансы найти высокооплачиваемую работу, предполагающую широкие контакты с людьми различных социальных групп и лидеров верхушки, заключение всевозможных сделок и договоров, продвижение какого-либо продукта существенно возрастут, поскольку приятный и легко модулирующий голос, принимающий в нужной ситуации определенные оттенки, быстрее расположит к вам слушающего человека.

1. Тренировка мышц неба
Неторопливо произнесите 15 раза подряд согласные «К» и «Г», потом почти не открывая рта, но при открытом зеве без голоса произнесите 3 раза гласные «А», «О», «Э».
Прополоскайте рот воздухом так, как вы это делаете водой, проследите, чтобы ощущения были схожими.
Раскройте рот на ширине двух пальцев между зубами и произнесите «АММ…АММ» так, чтобы «А» было шепотом, а «М» – звонким и так повторяйте несколько раз.
2. Тренировка губ и языка
Для тренировки верхней губы 15 раз произнесите «ГЛ», «ВЛ», «ВН», «ТН», а для нижней – «КС», «ГЗ», «ВЗ», «БЗ».
3.Произнесите «ПАЙ», «БАЙ», «МАЙ» и т.д. При этом, удерживая рукой подбородок в неизменном положении, голова должна отклоняться назад. На букве «Й» голова возвращается. После повторения проделайте их в естественном состоянии, анализируя, не появилось ли ощущение мышечной свободы.
4.Проговаривайте «БЯ», положив язык на нижнюю губу (20 раз);
5.Произносите звуки «АС», быстро высовывая и убирая язык за зубы (20 раз);
6.Произносите несколько раз «ТКР», «КТР», «ДРТ», «РКТ» (10 раз);
7.Произносите «МБ», «ТВ», «БМ» (10 раз);
8.Произнесите «СССССССССС….», «ШШШШШШ…», «ЖЖЖЖЖЖЖ…», «РРРРРРРРР», «РЬРЬРЬ…».
9.Произнесите «Ф! Ф! Ф! Ф! Ф!», которое переходит в непрерывный звук «ФФФФФ…».
Зажмите рукой рот, нос, в этом положении попытайтесь проговорить звук «М», затем, убрав руку, прочитайте любой текст с большим количеством «М» или «Н».
