<div class="lesson-container">
    <div class="lesson-header">Разогрев:</div>
        <div class="lesson-body">
        <div>Вибрация губ — «бр-р-р» (как мотор)</div>
        <div>Улыбка – трубочка</div>
        <div>Круги губами</div>
        <div>Круги челюстями</div>
        <div>Поднимаем опускаем бороду</div>
        <div>Вибрация языка (от кончика до корня) — «бр-р-р» (как мотор)</div>
        <div>Зевок с закрытым ртом — почувствовать подъём нёба</div>
        <div>Чередование — «Н-Г, М-Н»</div>
        <div>«К» и «Г»</div>
        <div>«ГЛ», «ВЛ», «ВН», «ТН»</div>
        <div>«КС», «ГЗ», «ВЗ», «БЗ»</div>
        <div>А-а-а...</div>
        <div>О-о-о...</div>
        <div>У-у-у...</div>
        <div>Э-э-э...</div>
        <div>Ы-ы-ы...</div>

    </div>
</div>

<div>Гистограмма</div>

<app-histogram name="Hist1"></app-histogram>
<app-histogram name="Hist2"></app-histogram>

1. Дыхательная система (источник звука)
Что делает: создаёт поток воздуха, без которого речь невозможна.
🫁 Лёгкие — подают воздух

⬇️ Диафрагма — регулирует силу выдоха

🦴 Рёбра и межрёберные мышцы — помогают контролировать дыхание

🌬 Трахея — проводит воздух к гортани

2. Голосовой аппарат (образование голоса)
Что делает: превращает воздух в звук.
🎤 Гортань — внутри неё находятся голосовые складки (связки)

Когда воздух проходит через голосовые складки, они вибрируют — так появляется голос.

👄 3. Артикуляционный аппарат (формирование звуков)

Что делает: превращает голос в конкретные звуки и слова.

Участвуют:

👅 Язык — самый подвижный и важный орган речи

👄 Губы — формируют губные звуки («б», «п», «м»)

🦷 Зубы — помогают произносить «ф», «в», «с», «з»

🏛 Нёбо (твёрдое и мягкое) — влияет на тембр и носовые звуки

👃 Носовая полость — участвует в носовых звуках («м», «н»)

🧠 И ещё один важный участник — мозг

Хотя это не «часть тела для произношения», именно мозг:

планирует речь

управляет движениями

отвечает за понимание и подбор слов
