<div class="lesson-container">
    <div class="lesson-header">Разогрев:</div>
        <div class="lesson-body">
        <div>Вибрация губ — «бр-р-р» (как мотор)</div>
        <div>Улыбка – трубочка</div>
        <div>Круги губами</div>
        <div>Круги челюстями</div>
        <div>Поднимаем опускаем бороду</div>
        <div>Вибрация языка (от кончика до корня) — «бр-р-р» (как мотор)</div>
        <div>Зевок с закрытым ртом — почувствовать подъём нёба</div>
        <div>Чередование — «Н-Г, М-Н»</div>
        <div>«К» и «Г»</div>
        <div>«ГЛ», «ВЛ», «ВН», «ТН»</div>
        <div>«КС», «ГЗ», «ВЗ», «БЗ»</div>
        <div>А-а-а...</div>
        <div>О-о-о...</div>
        <div>У-у-у...</div>
        <div>Э-э-э...</div>
        <div>Ы-ы-ы...</div>

    </div>
</div>

<div>Гистограмма</div>

<app-histogram name="Hist1"></app-histogram>
<app-histogram name="Hist2"></app-histogram>
