<div class="lesson-container">
    <div class="lesson-header">Разогрев:</div>
        <div class="lesson-body">
        <div>Вибрация губ — «бр-р-р» (как мотор)</div>
        <div>Улыбка – трубочка</div>
        <div>Круги губами</div>
        <div>Круги челюстями</div>
        <div>Поднимаем опускаем бороду</div>
        <div>Вибрация языка (от кончика до корня) — «бр-р-р» (как мотор)</div>
        <div>Зевок с закрытым ртом — почувствовать подъём нёба</div>
        <div>Чередование — «Н-Г, М-Н»</div>
        <div>«К» и «Г»</div>
        <div>«ГЛ», «ВЛ», «ВН», «ТН»</div>
        <div>«КС», «ГЗ», «ВЗ», «БЗ»</div>
        <div>А-а-а...</div>
        <div>О-о-о...</div>
        <div>У-у-у...</div>
        <div>Э-э-э...</div>
        <div>Ы-ы-ы...</div>

    </div>
</div>

<div>Гистограмма</div>

<div class="breath-line">
  <div 
    class="letter-column" 
    *ngFor="let item of data; let i = index">

    <div class="bar-container">
      <div class="bar" [style.height.px]="splitHeight(item.air, data[i-1]?.air ?? 0, 0)"></div>
      <div class="bar" [style.height.px]="splitHeight(item.air, data[i-1]?.air ?? 0, 1)"></div>
      <div class="bar" [style.height.px]="splitHeight(item.air, data[i-1]?.air ?? 0, 2)"></div>
      <div class="bar" [style.height.px]="splitHeight(item.air, data[i-1]?.air ?? 0, 3)"></div>

    
    </div>

    <div class="letter">
      {{ item.char }}
    </div>

  </div>
</div>



