@{
    Layout = "_Layout";
}

<h1>Случайный текст для чтения вслух</h1>
<section class="read-rule">
    <h2>Как правильно читать текст вслух</h2>
    <ol>
        <li>Расслабьтесь</li>
        <li>Сначала выдох, потом речь</li>
        <li>Начало и пауза между словами начинается с микровыдоха. Каждое слово должно начинатся мягко. Не помогать диафрагме выталкивать воздух.
            Выдох должен происходить за счет эластичности дифрагмы</li>
        <li>Нажмите "Начать" для отслеживания прогресса</li>
    </ol>
</section>
<hr/>
<app-text></app-text>
<hr/>
<p>
    Эта страница поможет вам улучшить дикцию, темп и уверенность речи.
    Используйте случайный текст для ежедневной тренировки чтения вслух.
</p>
