
@{
    Layout = "_Layout";
    
}

<h1>Случайный текст для чтения вслух</h1>
<hr/>
<p>⭐ Нажми кнопку внизу "Начать" для контроля прогресса.</p>
<p>⭐ Можешь выбрать любой текст.</p>
<p>⭐ Ищем слова вызывающие запинки и, выделив слово, сохраняем в триггеры.</p>
<p>⭐ <img style="width: 30px" src="~/images/robot.png" alt="robot" />Голос робота.</p>
<details class="how-to-do">
    <summary>Как читать</summary>
    <p>Читает голосом робота или максимально низким голосом чтобы "растянуть" голосовой аппарат.</p>
    <p>Уделяем внимание паузам, не задерживать воздух на паузе.</p>
    <p>После паузы начинаем с небольшого выдоха.</p>
    <p>Читаем как-бы "насаживая" речь на струю воздуха</p>
</details>
<hr/>
<app-text asset-path=""></app-text>
<hr/>
<p>
    Эта страница поможет вам улучшить дикцию, темп и уверенность речи.
    Используйте случайный текст для ежедневной тренировки чтения вслух.
</p>
