
@{
    Layout = "_Layout";
    
}

<h1>Случайный текст для чтения вслух</h1>
<hr/>
<app-text asset-path=""></app-text>
<hr/>
<p>
    Эта страница поможет вам улучшить дикцию, темп и уверенность речи.
    Используйте случайный текст для ежедневной тренировки чтения вслух.
</p>
