@{
    Layout = "_Layout";
}

<div class="slogan">Здесь начинается работа над собой.</div>
<div class="home-item">
    <h2>Для чего этот сайт:</h2>
    <p>Этот сайт направлен на устранение физиологических причин заикания:</p>
    <ul>
        <li>Неразвитая дыхательная система (создаёт поток воздуха, без которого речь невозможна)</li>
        <ul>
            <li> Диафрагма — регулирует силу выдоха</li>
            <li> Межрёберные мышцы — помогают контролировать дыхание</li>
        </ul>
        
        <li>Неразвитый голосовой аппарат (превращает воздух в звук)</li>
        <ul>
            <li> Мускулатура голосовые связки - определенное положение и вибрация модулируют голос</li>
        </ul>
        <li>Неразвитый артикуляционный аппарат (превращает голос в конкретные звуки и слова)</li>
        <ul>
            <li>Язык</li>
            <li>Мышцы лица</li>
            <li>Небо</li>
        </ul>
        <li>Неправильное дыхание - появляется как результат неразвитости органов речи</li>
    </ul>

    <hr>
    <h2>Для кого этот сайт:</h2>
    <ul>
        <li>Для детей и взрослых, которые заикаются.</li>
        <li>Для родителей, дети которых заикаются.</li>
    </ul>

    <hr>
        <h2>Что этот сайт предоставляет:</h2>
        <ul>
            <li>Упражнения для заикания с пояснениями:
                <ul>
                    <li>Общие упражнения для всего речевого аппарата</li>
                    <li>Упражнения для голосового аппарата</li>
                    <li>Упражнения для артикуляционного аппарата</li>
                </ul>
            </li>
            <li>Контроль прогресса речи
                <ul>
                    <li>Время выполнения</li>
                    <li>Темпа речи</li>
                    <li>Плавности</li>
                    <li>Cтабильность голоса</li>
                    <li>Вариативности высоты тона</li>
                </ul>
            </li>
            <li>Контроль выполнения задания для родителей
                <ul>
                    <li>Распознанная речь сохраняется в кабинете у пользователя</li>
                    <li>Время выполнение</li>
                </ul>
            </li>
            <li>Анализ голоса на основные показатели</li>
            <li>Хранение сложных слов</li>
            <li>Хранение показателей голоса</li>
        </ul>

        <h2>Как проходит работа:</h2>
        <ol>
            <li>Регистрация</li>
            <li>Делаете дневной урок (15 минут)</li>
            <li>Дополнительно занимаетесь, выбрав любой вид упражнений</li>
            <li>Автоматический анализ речи</li>
            <li>Отслеживание прогресса</li>
        </ol>

    <hr>
</div>
<a class="cta-button">Начать ежедневный урок</a>
