@{
    Layout = "_Layout";
}

<!-- HERO -->
<div class="home">
    <section class="stu-gray hero">
        <div class="container">
            <h1>Тренажер для лечения заикания</h1>
            <p>Здесь начинается работа над собой</p>
            <a href="#" class="stu-button-l2">Начать</a>
        </div>
    </section>

    <!-- FOR WHOM -->
    <section class="progress-section">
        <div class="container">
            <h2>Для кого этот сайт</h2>
            <ul>
                <li>Для детей и взрослых, которые заикаются</li>
                <li>Для родителей</li>
            </ul>
        </div>
    </section>

    <!-- HOW IT WORKS -->
    <section class="stu-gray">
        <div class="container">
            <h2>Принцип методики:</h2>
            <ul>
                <li>Вы делаете упражнения самостоятельно в спокойной атмосфере</li>
                <li>Упражнения и тексты проговариваем в специальной позиции голосовых связок</li>
            </ul>
        </div>
    </section>

    <!-- Coals -->
    <section>
        <div class="container">
            <h2>Наши цели:</h2>
            <ul>
                <li>Снять гипертонус мышц речевого аппарата</li>
                <li>Укрепить мышцы речевого аппарата</li>
                <li>Сформировать правильное дыхание</li>
                <li>Развить устойчивую речевую привычку</li>
            </ul>
        </div>
    </section>

    <!-- WHY -->
    <section class="stu-gray">
        <div class="container">
            <h2>Что тренируем:</h2>
            <div class="card-3">
                <div class="card">
                    <h3>🫁 Дыхание</h3>
                    <p>Формирует поток воздуха для речи.</p>
                    <ul>
                        <li>Развитие диафрагмы</li>
                        <li>Межреберные мышцы</li>
                    </ul>
                </div>

                <div class="card">
                    <h3>🔊 Голос</h3>
                    <p>Преобразует воздух в звук.</p>
                    <ul>
                        <li>Мышцы голосовых связок</li>
                    </ul>
                </div>

                <div class="card">
                    <h3>👄 Артикуляция</h3>
                    <p>Формирует звуки и слова.</p>
                    <ul>
                        <li>Мышцы языка</li>
                        <li>Мышцы лица</li>
                        <li>Небо</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    

    <!-- WHAT YOU GET -->
    <section class="">
        <div class="container">
            <h2>Что вы получите</h2>

            <div class="card-3">
                <div class="card">
                    <h3>📚 Упражнения</h3>
                    <p>Структурированные занятия для дыхания, голоса и артикуляции.</p>
                </div>

                <div class="card">
                    <h3>📊 Анализ речи</h3>
                    <p>Автоматическая оценка темпа, плавности и стабильности голоса.</p>
                </div>

                <div class="card">
                    <h3>🗂 Личный кабинет</h3>
                    <p>История занятий, хранение показателей и сложных слов.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- HOW IT WORKS -->
    <section class="stu-gray">
        <div class="container">
            <h2>Как проходит работа</h2>

            <div class="steps">
                <div class="step">1. Регистрация</div>
                <div class="step">2. Изучаем как делать упраженения</div>
                <div class="step">3. 15-30 минут в день</div>
                <div class="step">4. Отслеживание прогресса</div>
            </div>
        </div>
    </section>
    
</div>