@{
    Layout = "_Layout";
}


<p>Суть методики заключается в произношении слов растягивая мышцы речевого аппарата.
    При этом вы должны исключить волнение, то есть делать упражнения самостоятельно в спокойной атмосфере.</p>

Термины:
<p>Блок — это временная остановка речи, когда человек хочет сказать звук или слово,
    но не может начать из-за мышечного напряжения.</p>

<p>Запинка в заикании — это небольшое нарушение плавности речи, когда появляются:
    повторения звуков или слогов (напр. м-м-мама), растягивание звуков (мммааама), короткие паузы перед словом.
    В отличие от блока, запинка обычно менее напряжённая и легче проходит.
    Проще говоря: речь «спотыкается», но не полностью останавливается.</p>

<p>Напряжение - мышечным напряжением во время речи в груди, корне языка, челюсти и других органах речевого аппарата.</p>

<p>Триггер - это слово или словосочетание, вызывающее блок, запинку или напряжение</p>

Голос робота.
<p>Нужно научиться говорить голосом похожий на голос робота или максимально низким голосом. Ниже на картинке показано,
    что воздух должен проходить между голосовыми связками снизу. В таком положении мышцы управления связок максимально
    натягиваются, что нам и нужно. Скорее всего у вас будет пропадать звучания голоса первое время, но потом после тренировок,
    появится устойчивый "голос робота". Подробнее можете почитать тут.</p>

Сам себе логопед.
<p>Никто лучше вас самих не знает какие слова вам сложно произносить. А также только вы чувствуете напряжение середине груди,
    корне языка, челюстных мышцах при заикании. Когда будем делать упражнения там будут возникать напряжения. Вы должны сами
    найти слова и словосочетания, которые вызывают, блок, запинку или напряжения мышц. </p>

Найденные слова (триггеры)
Наверняка у вас много слов, которые вызывают блок, запинку или напряжение. Назовем такие слова - триггеры.
Справа на экране есть кнопка, которая открывает окно, где вы можете сохранить триггеры, указать их важность.

Любое напряжение - это блок.
Если в спокойной атмосфере у вас небольшая запинка или напряжение, в стрессовой ситуации это почти гарантировано блок.
Вы даже, сказав слово про себя, можете определить, скажите вы его или нет. Мышечная память хорошо работает, именно
из-за этого вы заикаетесь во сне, хотя ничего не говорите. Нужно отработать все мышцы так, чтобы в одиночку не было даже
напряжений.

Сколько понадобится времени.
Будем честны это процесс не быстрый. Вам понадобиться минимум пол года, зависит от степени заикания.
Все зависит от вашей усердной работы и мотивации.

Что вызывает заикание.
Заикание - это неврологическое отклонение, с этим спорить нельзя. На сегодняшний день (2026 год) не доказано, что вызывает 
заикание. Есть много разных статей о неразвитых областях головного мозга отвечающих за речь, большая разница амплитуд 
левого и правого полушарий мозга и так далее. С головным мозгом мы, к сожалению, ничего пока сделать не можем. Но одно мы знаем точно, 
если мы усилим мышцы нашего речевого аппарата, снимем с них напряжение (гипертонус) мы сможем абсолютно нормально говорить.

Закрыть голосовую щель.
Ключевое упражнения это сказать слово после закрытых головых связок голосов робота. Ниже на рисунке вы найдете закрытые
голосовые связки. Вспомните как вы задерживаете дыхание закрывая связки. Попробуйте задержать дыхание и закрыть их.
Вот так делается блок. На упражнениях указано как замочек 🔒

Скорость речи.
Часто люди которые заикаются быстро говорят. Дело в том что блоки в большинстве случаем возникают на старте речи и паузах.
Быстрая речь это такой костыльный способ избежать блока, но дыхание сбивается и мы все ровно получаем блок только еще и с 
напряжением в диафрагме и межреберных мышцах. По этому читать стараемся в среднем темпе. Когда мы разработаем речевой 
аппарат вы сами замедлите свою речь, так как в скорости не будет необходимости.

Осанка.
Осанка это и причина и следствие заикания. Люди, которые заикаются, напрягают мышцы гортани, межреберные мышцы и они как бы
скручивают осанку. Мы будем снимать напряжение с этих мышц, чтобы исправить осанку и ходить грудью вперед, не лицом вниз.

Дыхание.
Дыхание должно быть преимущественно диафрагмальное, при этом помогая межреберными мышцами. Нужно научиться контролировать
порции выдыхаемого воздуха. Все это снова связано с напряжениями в груди и неразвитых мышцах.