@{
    Layout = "_Layout";
}

<h1>Календарь прогресса речи</h1>

<p>
    Отслеживайте свои ежедневные тренировки по улучшению дикции, дыхания и интонации. Календарь помогает видеть прогресс и мотивирует к регулярной практике.
</p>

<hr />
<stu-calendar></stu-calendar>

<hr />

<section>
    <h2>Зачем вести календарь тренировок?</h2>
    <ul>
        <li>Следить за регулярностью занятий</li>
        <li>Видеть прогресс и улучшения</li>
        <li>Мотивировать себя на ежедневную практику</li>
        <li>Анализировать сильные и слабые стороны</li>
    </ul>
</section>

<hr />

