<div class="overlay" (click)="closeEvent.emit()">
  <form
    [formGroup]="sendResetPasswordForm"
    (ngSubmit)="onSubmit()"
    class="register-form"
    (click)="$event.stopPropagation()">
    <button type="button" class="close-btn" (click)="closeEvent.emit()" aria-label="Close">✕</button>

    <h2>{{ 'ForgotYourPassword' | translate }}</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" placeholder="Введите email" />
    </div>

    <button type="submit" [disabled]="sendResetPasswordForm.invalid">Выслать e-mail</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
