@{
    Layout = "_Layout";
}

<h1>Дневной урок</h1>

<p>⭐ Если делаешь первый раз, разверни и прочитай "Как читать".</p>
<p>⭐ <img style="width: 30px" src="~/images/robot.png" alt="robot" />Голос робота.</p>

<hr>
<div>
    <h2>1. Пройдемся по сохраненным триггерам. Выполни упражнение "Блок" для каждого слова:</h2>
    <details class="accordion">
        <summary>Как читать</summary>
        <p>Гистограмма показывает уровень воздуха</p>
        <p>🔒 - это значит закрыть голосовые связки, чтобы заблокировать выдох. Вспомните как вы задерживаете дыхание, закрывая путь воздуху голосовыми связками.</p>
        <p>*Вдох-закрыли связки-<b>слово</b>-закрыли связки-<b>слово</b>*...И так далее</p>
        <p>Голос робота или самый низкий голос чтобы максимально растянуть голосовой аппарат</p>
    </details>
    
    @foreach (var t in Model)
    {
        <stu-histogram name="HistBlock" init-text="🔒@t, 🔒@t, 🔒@t, 🔒@t" save-to-db="false"></stu-histogram>
    }
</div>

<hr/>
<h2>2. Читай текст:</h2>
<app-text></app-text>

@* <stu-daily-lesson></stu-daily-lesson> *@