@{
    Layout = "_Layout";

    var t = Model;
}

<h1>Дневной урок</h1>

<p>⭐ Если делаешь первый раз, разверни и прочитай "Как делать упражнение".</p>
<p>⭐ <img style="width: 30px" src="~/images/robot.png" alt="robot" />Голос робота.</p>

<hr>
<div>
    <h2>1. Пройдемся по сохраненным триггерам. Выполни упражнение "Блок" для каждого слова 20 раз:</h2>
    <details class="how-to-do">
        <summary>Как делать упражнение</summary>
        <p>Гистограмма показывает уровень воздуха</p>
        <p>🔒 - это значит закрыть голосовые связки, чтобы заблокировать выдох. Вспомните как вы задерживаете дыхание, закрывая путь воздуху голосовыми связками.</p>
        <p>*Вдох-закрыли связки-<b>слово</b>-закрыли связки-<b>слово</b>*...И так далее</p>
        <p>Голос робота или самый низкий голос чтобы максимально растянуть голосовой аппарат</p>
    </details>
    
    <stu-histogram name="HistBlock" init-trigger="@Model"></stu-histogram>
</div>

<hr/>
<h2>2. Читай текст и сохраняй сложные слова в триггеры:</h2>
<details class="how-to-do">
    <summary>Как делать упражнение</summary>
    <p>Читает голосом робота или максимально низким голосом чтобы "растянуть" голосовой аппарат.</p>
    <p>Уделяем внимание паузам, не задерживать воздух на паузе.</p>
    <p>После паузы начинаем с небольшого выдоха.</p>
    <p>Читаем как-бы "насаживая" речь на струю воздуха</p>
</details>
<app-text></app-text>