
@{
    Layout = "_Layout";
}

<h1>Дневной урок</h1>

@if (User.Identity is { IsAuthenticated: true })
{
    <p>⭐ Если делаешь первый раз, разверни и прочитай "Как делать упражнение".</p>
    <p>⭐ <img style="width: 30px" src="~/images/robot.png" alt="robot"/>Голос робота.</p>

    <hr>
    <div>
        <h2>1. Пройдемся по сохраненным триггерам. Выполни упражнение "Блок" для каждого слова от 10 до 20 раз:</h2>
        <details class="how-to-do">
            <summary>Как делать упражнение</summary>
            <p>Гистограмма показывает уровень воздуха</p>
            <p>🔒 - это значит закрыть голосовые связки, чтобы заблокировать выдох. Вспомните как вы задерживаете дыхание, закрывая путь воздуху голосовыми связками.</p>
            <p>*Вдох-закрыли связки-<b>слово</b>-закрыли связки-<b>слово</b>*...И так далее</p>
            <p>Голос робота (низкий хриплый) или самый низкий голос, чтобы максимально растянуть голосовой аппарат</p>
        </details>

        <stu-histogram name="HistBlock" init-trigger="@Model"></stu-histogram>
        
    </div>

    <hr/>
    <h2>2. Читай текст и сохраняй сложные слова в триггеры:</h2>
    <details class="how-to-do">
        <summary>Как делать упражнение</summary>
        <p>Читает голосом робота или максимально низким голосом чтобы "растянуть" голосовой аппарат.</p>
        <p>Уделяем внимание паузам, не задерживать воздух на паузе.</p>
        <p>После паузы начинаем с небольшого выдоха.</p>
        <p>Читаем как-бы "насаживая" речь на струю воздуха</p>
    </details>
    <app-text></app-text>
}
else
{
    <div class="not-logged-in-error">
        Пожалуйста, зарегистрируйтесь или войдите в систему, чтобы увидеть дневной урок.
        </div>
}

<hr/>
<p>
    Это сбалансированный дневной урок, который желательно делать каждый день.
    Делайте урок каждый день минимум 15 минут. Вы можете заниматься сколько угодно времени, но берегите голосовые связки и мышцы гортани!
    Мы будем их активно нагружать.
</p>
<hr/>
<section>
    <h2>Зачем делать дневной урок?</h2>
    <ul>
        <li>Чтобы снять напряжение с мышц, которые "защемляют" речевого аппарат</li>
        <li>Чтобы усилить мышцы речевого аппарата</li>
        <li>Чтобы находить сложные для вас слова/словосочетания (триггеры)</li>
        <li>Чтобы прорабатывать каждый триггер и похожие слова с похожим звуковым сочетанием</li>
        <li>Чтобы мозг получал новый, расслабленный паттерн речи</li>
    </ul>
</section>