@{
    Layout = "_Layout";
}

<h1>О проекте</h1>

<p>Этот проект создан по авторской методике лечения заикания.
    Автор потратил на поиск способа вылечить заикание большое кол-во времени.
    Мы перенесли его упражнения в эту платформу для удобного использования.</p>
<hr>

<p>Подробнее о методике можете почитать <a href="/aboutMethodology">здесь</a></p>

<hr>

<p>Email для вопросов: dmkhilev@gmail.com</p>
