.text-container{
    margin: 0 auto;
    text-align: justify;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
}

.control-container{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border: solid 1px;
    margin: 5px;
    font-size: 15px;
}

.text-content {
  line-height: 1.4;
  white-space: pre-wrap; /* сохраняет переносы из TXT */
  word-wrap: break-word; /* перенос длинных слов */
}

.shape {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;

  background:
    radial-gradient(ellipse 20px 20px at 0 0, white 99%, transparent 100%),
    #4caf50;

  clip-path: polygon(
    0 0,
    calc(100% - 6px) 0,
    100% 6px,
    100% 100%,
    0 100%
  );
}

.inhale,
.exhale{
    width: 35px;
}
.pause{
    width: 20px;
}







/* Desktop */
@media (min-width: 769px) {
    .text-container {
        font-size: 22px;
    }
    .control-container{
        flex-direction: row;
        row-gap: 30px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .text-container {
        font-size: 19px; 
    }
    .control-container{
        flex-direction: column;
        row-gap: 10px;
    }
}
