<div class="read-rule">
    <p>Как правильно читать:</p>
    <ol>
        <li>
            <p>Сделай расслабленный вдох, немного выпусти воздух начинай читать.</p>
            <p>Главное правило: сначала выдох - потом речь.</p>
            <p>Не выталкивай воздух дифрагмой, воздух выходит за счет эластичности диафрагмы</p>
            <p>Представь что ты нанизываешь на струю воздуха речь.
                <img class="inhale" src="assets/random-text/inhale.png" alt="Inhale">
            </p>
        </li>
        <li> 
            На непродолжительной паузе (запятая, тире и др. знаки препынания спредложении) 
            приостанавливай дыхание, выпускай воздух и продолжай речь.
            <img class="pause" src="assets/random-text/pause.png" alt="Inhale">
        </li>
        <li>
            Не жди напряжения в груди от нехватки воздуха, даже если не дочитал(а) предложение, выпускай немного воздуха и опять п.1
            <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
         </li>
    </ol>

    <p>Пример 1:</p>
    <div>
        <img class="inhale" src="assets/random-text/inhale.png" alt="Inhale">
        Привет, <img class="pause" src="assets/random-text/pause.png" alt="Inhale"> меня зовут Вика. 
        <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
        Мне 10 лет.
        <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
        Я учучь в 37-ой школе в города Гродно.
        <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale"> ...
    </div>

    <p>Пример 2:</p>
    <div>
    <p><img class="inhale" src="assets/random-text/inhale.png" alt="Inhale"><b>Колобок</b></p>
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    Жил-был старик со старухою.
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    Просит старик:
    <img class="inhale" src="assets/random-text/pause.png" alt="Pause-Inhale">
    — Испеки,
    <img class="inhale" src="assets/random-text/pause.png" alt="Pause-Inhale">
    старуха,
    <img class="inhale" src="assets/random-text/pause.png" alt="Pause-Inhale"> колобок!
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    — Из чего печь — то?
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    Муки нету,
    <img class="inhale" src="assets/random-text/pause.png" alt="Pause-Inhale">
    — отвечает ему старуха.
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    — Э — эх,
    <img class="inhale" src="assets/random-text/pause.png" alt="Pause-Inhale">
    старуха!
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    По коробу поскреби,
    <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
    по сусеку помети;
        <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">
        авось муки и наберется.
        <img class="inhale" src="assets/random-text/pause-inhale.png" alt="Pause-Inhale">...
    </div>
</div>

<div class="control-container">
    <div>
        <button class="stu-button-l" (click)="getRandomText()">Новый текст</button>
    </div>
    <div>
        <select [(ngModel)]="selectedCategory">
        <option value="">-- Выберите категорию --</option>
        <option *ngFor="let c of categories" [value]="c">
            {{ c }}
        </option>
</select> 
    </div>
    <div><a [href]="source">Источник: {{source}}</a></div>

</div>  

<div class="text-container">
  <h2>{{ title }}</h2>

  <div (click)="onTextClick($event)" class="text-content">

      {{ article }}
</div>

<div class="overlay" [style.display]="contextMenuOpened ? 'block' : 'none'" (click)="closeContextMenu()"></div>

<div
  class="context-menu"
  *ngIf="selectedWord"
  [style.top.px]="menuPosition.y"
  [style.left.px]="menuPosition.x"
>
    <div class="selected-word">{{selectedWord}}</div>
    <button (click)="addTrigger()">В сложные слова</button>
</div>
