<div class="control-container">
    <div>
        <button class="stu-button-l" (click)="getRandomText()">Новый текст</button>
    </div>
    <div>
        <select [(ngModel)]="selectedCategory">
        <option value="">-- Выберите категорию --</option>
        <option *ngFor="let c of categories" [value]="c">
            {{ c }}
        </option>
</select> 
    </div>
    <div><a [href]="source">Источник: {{source}}</a></div>

</div>  
<div class="text-container">
    <h2>{{ title }}</h2>
    <div class="text-content"> {{ article }}</div>
</div>