@model stutvds.Emails.Models.ResetPasswordEmailModel
@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "stutvds.Emails.Templates._Layout.cshtml";
}

<p>Please follow link below to reset your password:</p>

<p>
    <a href="@Model.ResetPasswordUrl">Reset password</a>
</p>