
@{
    Layout = "_Layout";
    
}

<div>
    <h2>Работаем над дыханием</h2>
    <ol>Запоминаем правильный паттерн дыхания во время речи:
        <li>Начинаем речь с обычного вдоха, немного выдыхаем и начинаем читать/говорить.</li>
        <li>Делаем паузы на знаках препинания. (Читать про паузы)</li>
        <li>После паузы, если достаточно воздуха, делаем мини-выдох и продолжаем речь</li>
        <li>Если воздуха не достаточно, спокойно выдыхаем и заново с пункта 1</li>
        <li>Мы должны насаживать речь на струю выдыхаемого воздуха</li>
        <li>Любое напряжение мышц артикуляционного аппарата может вызвать блок.</li>
    </ol>
    
    <p>Эта гистограмма показывает как нужно читать/говорить:</p>
    <stu-histogram name="Hist1"></stu-histogram>
    
    <ol>Вот так обычно говорит человек с заиканием:
        <li>Если не получил блок на старте, старается быстро сказать без пауз, чтобы не получить блок когда закроются связки.</li>
        <li>Дыхание сбивается, возникает напряжение в диафрагме и груди, чрезмерное напряжение воздуха на связки, в итоге получаем блоки</li>
    </ol>
    
    <p>Вот как это выглядит:</p>
    <stu-histogram name="Hist2"></stu-histogram>
</div>

<hr>

