@model string

@{
    Layout = "_Layout";
}

<h1>Тренируем сложное слово (триггер)</h1>
<hr/>
<h2>✨ Это комплексное упражнение для артикуляции, голоса и дыхания.</h2>

<p>⭐ Нажми кнопку внизу "Начать" и произноси слово <b>"@Model"</b> как на гистограмме.</p>
<p>⭐ Можешь выбрать любой триггер сохраненный тобою, кликнув по кнопке справа экрана.</p>
<p>⭐ Если делаешь первый раз, разверни и прочитай "Как делать упражнение".</p>
<p>⭐ <img style="width: 30px" src="~/images/robot.png" alt="robot" />Голос робота.</p>

<hr>
<div>
    <h2>1. Упражнение "Блок":</h2>
    <details class="how-to-do">
        <summary>Как делать упражнение</summary>
        <p>Работаем над стартом после закрытия голосовых связок.</p>
        <p>🔒 - это значит закрыть голосовые связки, чтобы заблокировать выдох. Вспомните как вы задерживаете дыхание, закрывая путь воздуху голосовыми связками.</p>
        <p>*Вдох-закрыли связки-<b>слово</b>-закрыли связки-<b>слово</b>*...И так далее</p>
        <p>Голос робота или самый низкий голос чтобы максимально растянуть голосовой аппарат</p>
        <p>Это самое полезное упражнение. Делайте его всегда когда есть время: когда сидите в телефоне, прогуливаетесь или делаете физическую работу.</p>
    </details>
    <stu-histogram name="HistBlock" init-trigger="@Model"></stu-histogram>
</div>
<hr>
<div>
    <h2>2. Упражнение "Пауза-выдох":</h2>
    <details class="how-to-do">
        <summary>Как делать упражнение</summary>
        <p>Работаем над стартом после паузы при разном положении диафрагмы.</p>
        <p>*Вдох-немного выдохнули-<b>слово</b>-немного выдохнули-<b>слово</b>*...И так далее</p>
        <p>Здесь наоборот - без блока, не задерживаем воздух на паузе, постоянный выдох</p>
    </details>
    <stu-histogram name="HistBP" init-trigger="@Model"></stu-histogram>
</div>
<hr>
<div>
    <h2>3. Упражнение "Контроль диафрагмы":</h2>
    <details class="how-to-do">
        <summary>Как делать упражнение</summary>
        <p>Работаем над диафрагмой и межреберными мышцами</p>
        <p>Перед началом речи немного выдыхаем.</p>
        <p>Тренируем диафрагму выдыхая воздух ровными порциями</p>
        <p>Не "обрушиваем" воздух на голосовые связки</p>
        <p>*Вдох-немного выдохнули-<b>слово</b>-довыдох*...И так далее</p>
        <p>Одно слово на выдох</p>
    </details>
    <stu-histogram name="HistDia" init-trigger="@Model"></stu-histogram>
</div>
