<div class="trigger-modal" [ngClass]="{ 'trigger-modal-open': isOpen }">
  <div class="trigger-modal-toggle-button"  *ngIf="(userinfo$ | async)?.logged_in"><div (click)="onToggle()"></div></div>
  <div class="trigger-container">
    <h3 class="trigger-title">Триггеры</h3>
    <div class="trigger-content">
      <div class="trigger-item" *ngFor="let trigger of triggers" (click)="onClickTrigger(trigger)"
        >{{ trigger.value }}
        <div (click)="onDelete(trigger)" class="trigger-item-delete"></div>
      </div>
    </div>
    <form [formGroup]="triggerForm" (ngSubmit)="onCreate()" class="trigger-form">
        <input name="value" formControlName="value" formControlName="value" class="form-control mb-2" type="text" />
        <button class="form-control trigger-button" type="submit">Создать</button>
    </form>
  </div>
</div>
