<div class="overlay" [style.display]="isOpen ? 'block' : 'none'" (click)="onToggle()"></div>
<div class="trigger-modal" [ngClass]="{ 'trigger-modal-open': isOpen }">
  <div class="trigger-modal-toggle-button"  *ngIf="(userinfo$ | async)?.logged_in"><div (click)="onToggle()">Триггеры</div></div>
  <div class="trigger-container">
    <h3 class="trigger-title">Сложные слова (триггеры)</h3>
    <div class="trigger-content">
        <table class="trigger-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trigger of triggers" (click)="onClickTrigger(trigger)">
            <td (click)="onTriggerSelect(trigger.value)" [class.selected]="isTriggerSelected(trigger.value)">
              <span class="trigger-item">{{ trigger.value }}</span>
            </td>
            <td>{{ trigger.difficulty }}</td>
            <td>
              {{ trigger.createdAt | date:'dd.MM.yyyy' }}
            </td>
            <td>
                <button
                  type="button"
                  class="trigger-item-delete"
                  (click)="onDelete(trigger); $event.stopPropagation()">
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form [formGroup]="triggerForm" (ngSubmit)="onCreate()" class="trigger-form">
        <input name="value" formControlName="value" formControlName="value" class="stu-input trigger-input" type="text" />
        <button class="form-control trigger-button-add" type="submit">+</button>
    </form>
    <button (click)="goToPracticeWord()" [disabled]="!selectedTrigger" class="trigger-button-practice">Тренировать</button>
  </div>
</div>
