<h2>Урок Лодорский водопад</h2>
<p>Лодорский водопад. Р. Саути, перевод А. Шмульяна.</p>

<p style="white-space: pre-line;">Кипя, шипя, журча,/
ворча, струясь, крутясь, сливаясь,/
вздымаясь, вздуваясь, мелькая, шурша, резвясь и спеша,/
скользя, обнимаясь, делясь и встречаясь,/
ласкаясь, бунтуя, летя, играя, дробясь, шелестя,/
блистая, взлетая, шатаясь, сплетаясь, звеня, клокоча,/
взвиваясь, вертясь, грохоча, морщинясь, волнуясь, катаясь,/
бросаясь, меняясь, воркуя, шумя, взметаясь и пенясь, смеясь и болтая, катясь, извиваясь, стремясь, вырастая,/
вперед и вперед убегая в свободолюбивом задоре, —
так падают бурные воды в сверкающем, быстром Лодоре!//</p>
