<div class="subheader-container">
    <button class="stu-button-l">Губные</button>
    <button class="stu-button-l">Кончик языка</button>
    <button class="stu-button-l">Корень языка</button>
    <button class="stu-button-l">Звук "Л"</button>
    <button class="stu-button-l">Звук "Р"</button>
    <button class="stu-button-l">Шипящие</button>
    <button class="stu-button-l">Свистящие</button>
    <button class="stu-button-l">Челюсть</button>
    <button class="stu-button-l">Мягкое нёбо</button>


    <button class="stu-button-l">Сложные сочетания</button>
</div>
