<header>
    <div class="left-group">
        <div class="nav-item" routerLink="/">Тренажер для речи</div>
        <div class="nav-item" routerLink="/calendar-page">Календарь</div>
        <div class="nav-item" routerLink="/exercises">Exercises</div>
        <div class="nav-item" routerLink="/twisters">Twisters</div>
        <div class="nav-item" routerLink="/triggers">Triggers</div>
        <div class="nav-item" routerLink="/diaphragm">Diaphragm</div>
        <div class="nav-item">Admin</div>
    </div>
    <div class="account">
        <div class="nav-item" routerLink="/register">Регистрация</div>
        <div class="nav-item">Логин</div>
        <app-language-picker></app-language-picker>
    </div>
</header>