<header>
    <div class="left-group">
        <div class="nav-item" routerLink="/">Stuttering threatment</div>
        <div class="nav-item" routerLink="/exercises">Exercises</div>
        <div class="nav-item" routerLink="/twisters">Twisters</div>
        <div class="nav-item" routerLink="/triggers">Triggers</div>
        <div class="nav-item" routerLink="/diaphragm">Diaphragm</div>
        <div class="nav-item">Admin</div>
    </div>
    <div class="account">
        <div class="nav-item">Register</div>
        <div class="nav-item">Login</div>
        <app-language-picker></app-language-picker>
    </div>
</header>