/* You can add global styles to this file, and also import other style files */
*{
    padding: 0%;
    margin: 0%;
} 

.dm-select{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: .775rem !important;
}

.dm-input{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: .775rem !important;
}
