
<div class="sub-title">Выбирай как сегодня будешь улучшать речь:</div>
<div class="control-container">
    <button (click)="setLessonType(LESSON_TYPE.READ)">Читать текст</button>
    <button (click)="setLessonType(LESSON_TYPE.JUST_REPEAT)">Занимайся в фоне</button>
    <button (click)="setLessonType(LESSON_TYPE.NO_VOICE)">Упражнения без голоса</button>

</div>

<div *ngIf="currentLessonType === LESSON_TYPE.READ "> 
    <app-trigger-block></app-trigger-block>
    <app-random-text></app-random-text>
</div>

<div *ngIf="currentLessonType === LESSON_TYPE.JUST_REPEAT "> 
    <div class="lesson-block">
        <h3>Упражнение 1 (произноси 3 мин)</h3>
        <p>вдох - микровыдох - <b>А</b> - микровыдох - <b>А</b> - микровыдох - <b>А</b> - микровыдох - <b>А</b> - выдох</p>
        <p>вдох - микровыдох - <b>О</b> - микровыдох - <b>О</b> - микровыдох - <b>О</b> - микровыдох - <b>О</b> - выдох</p>
        <p>вдох - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - выдох</p>
        <p>вдох - микровыдох - <b>У</b> - микровыдох - <b>У</b> - микровыдох - <b>У</b> - микровыдох - <b>У</b> - выдох</p>
        <p>вдох - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - выдох</p>
    </div>
    <div class="lesson-block">
        <h3>Упражнение 2 (произоноси 3 мин)</h3>
        <p>вдох - микровыдох - <b>А</b> - выдох ____ вдох - микровыдох - <b>А</b> - выдох... </p>
        <p>вдох - микровыдох - <b>О</b> - выдох ____ вдох - микровыдох - <b>О</b> - выдох...</p>
        <p>вдох - микровыдох - <b>Э</b> - выдох ____ вдох - микровыдох - <b>Э</b> - выдох...</p>
        <p>вдох - микровыдох - <b>У</b> - выдох ____ вдох - микровыдох - <b>У</b> - выдох...</p>
        <p>вдох - микровыдох - <b>Ы</b> - выдох ____ вдох - микровыдох - <b>Ы</b> - выдох...</p>
    </div>
    <div class="lesson-block">
        <h3>Упражнение 3 (быстро произноси 3 мин.)</h3>
        <p><b>А, А, А, А, А, А, А, А, А, А, А, А, А, А, А, А, А, А, А, А</b></p>
        <p><b>О, О, О, О, О, О, О, О, О, О, О, О, О, О, О, О, О, О, О, О</b></p>
        <p><b>Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э, Э</b></p>
        <p><b>У, У, У, У, У, У, У, У, У, У, У, У, У, У, У, У, У, У, У, У</b></p>
        <p><b>Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы, Ы</b></p>
    </div>
    <div class="lesson-block">
    <h3>Упражнение 4 (считай от 200)</h3>
        <p>вдох - микровыдох - <b>201</b> - микровыдох - <b>202</b> выдох</p>
        <p>вдох - микровыдох - <b>203</b> - микровыдох - <b>204</b> выдох ...</p>
    </div>
</div>

<div *ngIf="currentLessonType === LESSON_TYPE.NO_VOICE "> 
    <div class="lesson-block">
        <h3>Упражнение 1 (без звуки тренируй контроль выдыхаемого воздуха)</h3>
        <p>вдох - микровыдох - <b>А</b> - микровыдох - <b>А</b> - микровыдох - <b>А</b> - микровыдох - <b>А</b> - выдох</p>
        <p>вдох - микровыдох - <b>О</b> - микровыдох - <b>О</b> - микровыдох - <b>О</b> - микровыдох - <b>О</b> - выдох</p>
        <p>вдох - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - микровыдох - <b>Э</b> - выдох</p>
        <p>вдох - микровыдох - <b>У</b> - микровыдох - <b>У</b> - микровыдох - <b>У</b> - микровыдох - <b>У</b> - выдох</p>
        <p>вдох - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - микровыдох - <b>Ы</b> - выдох</p>
    </div>
</div>