<p>Без голоса:</p>
<div>зевок, зевок, зевок, зевок, зевок, зевок (50 раз)</div>
<div>---------------------------------------</div>
<div>---------------------------------------</div>
<p>С голосом (максимально низким голосом):</p>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>---------------------------------------</div>
<div>А, А, А, А, А, А, А...(повторяем сколько есть воздуха) </div>
<div>А, А, А, А, А, А, А... </div>
<div>А, А, А, А, А, А, А... </div>
<div>А, А, А, А, А, А, А...</div>
<div>А, А, А, А, А, А, А...</div>
<div>---------------------------------------</div>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>

<div>---------------------------------------</div>

<div>На зевке произносим:</div>
<div>А, А, А, А, А, А, А...(повторяем сколько есть воздуха) </div>
<div>А, А, А, А, А, А, А... </div>
<div>А, А, А, А, А, А, А... </div>
<div>---------------------------------------</div>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>А-А-А-А-А-А-А...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>
<div>{{wordA}}</div>

<div>М-М-М-М-М... </div>
<div>---------------------------------------</div>
<div>---------------------------------------</div>

<p>С голосом (максимально низким голосом):</p>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>---------------------------------------</div>
<div>О, О, О, О, О, О, О...(повторяем сколько есть воздуха) </div>
<div>О, О, О, О, О, О, О... </div>
<div>О, О, О, О, О, О, О... </div>
<div>О, О, О, О, О, О, О... </div>
<div>О, О, О, О, О, О, О... </div>
<div>---------------------------------------</div>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>

<div>---------------------------------------</div>
<div>На зевке произносим:</div>
<div>О, О, О, О, О, О, О...(повторяем сколько есть воздуха) </div>
<div>О, О, О, О, О, О, О... </div>
<div>О, О, О, О, О, О, О... </div>
<div>---------------------------------------</div>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>О-О-О-О-О-О-О...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>
<div>{{wordO}}</div>

<div>М-М-М-М-М... </div>
<div>---------------------------------------</div>
<div>---------------------------------------</div>

<p>С голосом (максимально низким голосом):</p>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>---------------------------------------</div>
<div>У, У, У, У, У, У, У...(повторяем сколько есть воздуха) </div>
<div>У, У, У, У, У, У, У... </div>
<div>У, У, У, У, У, У, У... </div>
<div>У, У, У, У, У, У, У... </div>
<div>У, У, У, У, У, У, У... </div>
<div>---------------------------------------</div>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>

<div>---------------------------------------</div>
<div>На зевке произносим:</div>
<div>У, У, У, У, У, У, У...(повторяем сколько есть воздуха) </div>
<div>У, У, У, У, У, У, У... </div>
<div>У, У, У, У, У, У, У... </div>
<div>---------------------------------------</div>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>У-У-У-У-У-У-У...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>
<div>{{wordU}}</div>

<div>М-М-М-М-М... </div>

<div>---------------------------------------</div>
<div>---------------------------------------</div>

<p>С голосом (максимально низким голосом):</p>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>---------------------------------------</div>
<div>Э, Э, Э, Э, Э, Э, Э...(повторяем сколько есть воздуха) </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>---------------------------------------</div>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>


<div>---------------------------------------</div>
<div>На зевке произносим:</div>
<div>Э, Э, Э, Э, Э, Э, Э...(повторяем сколько есть воздуха) </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>Э, Э, Э, Э, Э, Э, Э... </div>
<div>---------------------------------------</div>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>Э-Э-Э-Э-Э-Э-Э...(тянем звук) </div>
<div>---------------------------------------</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>
<div>{{wordE}}</div>

<div>М-М-М-М-М... </div>