<div class="footer">

    <div class="speech-trigger-container">
        <div class="start-speech-container"><button [ngClass] = "{'active' : isEnabled}" (click)="startListening()">{{startBtnName}}</button></div>
        <div class="speech-container">
            <div class="speech-left-block">
                <div class="words-qty-container">
                    <div>Прочитано: <span>{{wordsCounter}}</span>/1000</div>
                    <button class="speech-container-buttom" title="Сбросить"><div>R</div></button>
                </div>   
                <div class="average-words-qty-container">
                    <div>Скорость: <span>{{speedCounter}}</span> слов/мин</div>
                    <button class="speech-container-buttom" title="Сбросить"><div>R</div></button>
                </div>
            </div>
            <div class="speech-right-block">{{text}}</div>
        </div>
        <div class="timer-container">
            <app-timer (onFinished)="onTimerFinished()"></app-timer>
        </div>      
    </div>
</div>

<app-trigger-modal></app-trigger-modal>
