.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #1f1f1f;
  color: white;
  border-top: 2px solid #333;
}

.footer-container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 20px; 
}

.start-btn {
    width: 100px;
    background-color: #ffd700;
    color: #333;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.start-btn.enabled {
  background: #4caf50;
  border: 1px solid #94be16;
}



.start-btn:hover {
  background: #cfc06a;
}
.start-btn.enabled:hover {
  background: #3ed745;
}
/* Статистика */
.stats {
  height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

/* Эквалайзер */
.equalizer {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  height: 40px;
}

.timer-container{
  display: flex;
  align-items: center;
}

.lesson-status-label{
    width: 10px;
    height: 10px;
    background-color: #fff3cd;
    border: solid 1px;
    border-radius: 10px;
    margin-left: 5px;
}
