<footer class="footer">
  <div class="footer-container">
    <!-- Кнопка Старт -->
    <button class="start-btn" (click)="startListening()" [class.enabled]="isEnabled">
      {{ startBtnName }}
    </button>

    <!-- Блок статистики -->
    <div class="stats">
      <div>Прочитано слов: <strong>{{ wordsCounter }}</strong></div>
      <div>Скорость: <strong>{{ voiceData?.wpm }} слов/мин</strong></div>
    </div>

    <div class="stats">
      <div class="timer-container">
        Осталось:
        <stu-timer [timeLeft]="timeLeftInSec" (finishedEvent)="onTimerFinished()"></stu-timer>
        <div class="lesson-status-label"></div>
      </div>
      <div></div>
    </div>

    <!-- Textarea с распознанным текстом -->
    <div class="text-block">
      <app-textarea-auto-clear [text]="recognisedText"></app-textarea-auto-clear>
    </div>

    <!-- Эквалайзер -->
    <div class="equalizer">
      <app-visualizer></app-visualizer>
    </div>

  </div>

</footer>
<stu-trigger-modal></stu-trigger-modal>